.header {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 200px;

   &__links {
      display: inline-flex;
      gap: 20px;
   }

   &__right {
      display: inline-flex;
      gap: 30px;
      align-items: center;

      span {
         cursor: pointer;
         &:hover {
            color: rgb(77, 77, 77);
         }
      }
   }
}
